body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgb(253, 228, 206);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.task {
  white-space: pre-wrap;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: rgb(104, 94, 84);
  color: white;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.past {
  background-color: #b36b6b;
  color: white;
}

.present {
  background-color: #f4f8b7;
  color: rgb(0, 0, 0);
}

.future {
  background-color: #2f704b;
  color: white;
}

.save-button {
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: rgb(14, 67, 86);
  color: white;
}

.save-button:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  background-color: rgb(25, 97, 123);
}
